@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

/*fix for hiding skills chart on home page due to conflicting tailwind CSS with display:flex and display:none*/

@media (max-width: 1024px) {
  .hide-at-md {
    display: none!important;
  }
}

/*fix for sidenav on home page which was preventing vertical scrolling*/

@media (min-width: 768px) {
.home-page-sidenav {
  margin-left: 255px;
}
}

@media (max-width: 768px) {
  .home-page-mobile {
    margin-top: 165px;
  }
}